.large-image-carousel .image-card {
  display: flex;
  min-width: 1136px;
  max-width: 1136px;
  min-height: 611px;
  max-height: 611px;
  padding: 24px;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border: 1px solid #D0D0D0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width:992px) {
  .large-image-carousel .image-card {
    min-width: 100%;
    max-width: fit-content;
    min-height: 178px;
  }

  .large-image-carousel .badge {
    display: none;
  }
}

.large-image-carousel .badge {
  padding: 4px 8px;
  background-color: #E8E8E8;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border-radius: 0px;
  color: #191919;
  position: absolute;
  top: 1rem;
  z-index: 1;
  right: 1rem;
  margin-top: 18px;
  margin-right: 15px;
}
