#large-image-carousel .arrow-buttons button {
  border: 2px solid black !important;
  background-color: transparent !important;
  color: black !important;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#large-image-carousel .arrow-buttons button svg {
  fill: black !important;
  color: black !important;
}

#large-image-carousel .arrow-buttons button:hover {
  background-color: transparent !important;
  color: black !important;
}

#large-image-carousel .arrow-buttons button:hover svg {
  fill: black !important;
  color: black !important;
}

#large-image-carousel .carousel-cta {
  font-size: 16px;
  font-weight: 700;
  border: 1.5px solid #FFC627;
  border-radius: 100px;
  padding: 16px 32px;
  background: #191919;
  color: #FFC627;
  text-decoration: none;
}

#large-image-carousel .carousel-header {
  display: flex;
  justify-content: space-between;
}

#large-image-carousel .footer-section .arrow-buttons-wrapper button[aria-label="Go to previous"] {
  fill: black !important;
  color: black !important;
}

#large-image-carousel .footer-section .arrow-buttons-wrapper button[aria-label="Go to next"] {
  fill: black !important;
  color: black !important;
}

#large-image-carousel swiper-slide {
  /* opacity: 0.5; */
  transition: opacity 0.3s ease;
}

/* Middle slides (2nd → 5th when 6 are visible) */
#large-image-carousel swiper-slide.is-middle {
  opacity: 1;
}

#large-image-carousel .section-carousel .big-image-card img{
  max-width: 1200px;
  max-height: 676px;
}

@media (max-width:767px) {

}
